@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedorform {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: grey;
}
.formulario {
  position: relative;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
}
.instrucciones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.cuerpo_instrucciones {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 20px;
}
.cuerpo_instrucciones h5 {
  text-align: center;
}
.cuerpo_instrucciones span {
  text-align: justify;
}
.instruccion_button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}
.datospersonales,
.datospersonalestestigo,
.dnifecha,
.dnifechatestigo,
.datosdomicilio,
.datosdomiciliotestigo,
.establecimiento,
.municiprovincia {
  display: flex;
  width: 100%;
}
#nombre,
#nombretestigo {
  width: 30%;
  margin-right: 10px;
}
#apellidos,
#apellidostestigo {
  width: 70%;
}
#dni,
#dnitestigo {
  width: 50%;
  margin-right: 10px;
}
#fecha {
  width: 30%;
  margin-right: 10px;
}
#hora {
  width: 30%;
}
#telefono {
  width: 50%;
}
#domicilio,
#domiciliotestigo {
  width: 70%;
  margin-right: 10px;
}
#localidad,
#localidadtestigo {
  width: 30%;
}
#establecimiento {
  width: 30%;
  margin-right: 10px;
}
#localiza {
  width: 70%;
}
#municipio {
  width: 50%;
  margin-right: 10px;
}
#provincia {
  width: 50%;
}
.formbutton {
  position: relative;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.link {
  text-decoration: none;
  color: red;
}
.link:hover {
  color: red;
}
.contenedordenuncia {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: beige;
  display: none;
}
.cuerpo {
  position: relative;
  width: 86%;
  margin: auto;
  text-align: justify;
  font-size: 0.9em;
}
#nombregenerado,
#apellidosgenerado,
#domiciliogenerado,
#localidadgenerado,
#establecimientogenerado,
#localizagenerado,
#municipiogenerado,
#provinciagenerado,
#nombretestigogenerado,
#apellidostestigogenerado,
#domiciliotestigogenerado,
#localidadtestigogenerado,
#localidadenunciagenerado {
  text-transform: uppercase;
}
#dnigenerado,
#dnitestigogenerado {
  text-transform: uppercase;
}
.check {
  display: flex;
  flex-direction: row;
}
#print {
  position: relative;
  width: 25%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
.marcagua {
  position: absolute;
  top: 6%;
}
.marcagua1 {
  position: absolute;
  top: 48%;
}
.marcagua img,
.marcagua1 img {
  width: 100%;
  opacity: 0.3;
}
@media (max-width: 797.98px) {
  .contenedorform {
    height: auto;
  }
  .formulario {
    font-size: 0.9em;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .formbutton {
    width: 60%;
    margin-bottom: 20px;
  }
  .form-group input {
    font-size: 0.8em;
  }
  .contenedordenuncia {
    width: 100%;
  }
  .cuerpo {
    font-size: 0.7em;
  }
  .aljuzgado {
    font-size: 1.2em;
  }
  #print {
    width: 60%;
  }
  #dni {
    width: 32%;
  }
  #fecha {
    width: 43%;
  }
  #hora {
    width: 25%;
  }
}
/*----------index----------------*/
#slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: SlideAnimation 32s infinite 0s;
  overflow: hidden;
}
.slide:nth-child(2) {
  animation-delay: 16s;
}

.bg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: url(images/fondoportada.jpg) no-repeat center center;
  background-size: cover;
  animation: BgAnimation 32s infinite 0s;
}
.slide:nth-child(2) .bg {
  background-image: url(images/fondoportada1.jpg);
  animation: BgAnimation2 32s infinite 0s;
}
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url();
}
.contentWrapper {
  opacity: 0;
  top: 50%;
  left: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: TitleAnimation 32s infinite 0s;
  z-index: 2;
}
.slide:nth-child(2) .contentWrapper {
  animation-delay: 16s;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 8em;
  font-weight: normal;
  color: whitesmoke;
  white-space: nowrap;
}
#text {
  font-size: 1.4em;
  position: relative;
}
#text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#text span {
  display: block;
  position: relative;
  z-index: 2;
  padding: 10px;
  color: white;
}
@keyframes SlideAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes BgAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-45%, -55%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes BgAnimation2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-55%, -45%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes TitleAnimation {
  0% {
    top: 50%;
    left: 45%;
    opacity: 0;
  }
  5% {
    top: 50%;
    left: 45%;
    opacity: 0;
  }
  20% {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  45% {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  50% {
    top: 55%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 55%;
    left: 50%;
    opacity: 0;
  }
}

.logopass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(5);
  opacity: 0.2;
  z-index: 2;
}
.logopass img {
  animation: rotar 60s linear infinite;
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav {
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: auto;
  z-index: 1;
}
.nav a {
  text-decoration: none;
  padding: 5px;
  font-family: "Playfair Display", serif;
  font-size: 1.4em;
}
.nav a:hover {
  color: rgb(224, 123, 8) !important;
}
@media (min-width: 250px) and (max-width: 299.98px) {
  .mapaverguenza {
    top: 20% !important;
    font-size: 1.6em !important;
  }
  .cuerpo_instrucciones {
    top: 60%;
    font-size: 0.6em;
  }
  .instruccion_button {
    font-size: 0.7em;
    width: 80%;
  }
  .title {
    font-size: 2.8em;
  }
  #text {
    font-size: 0.8em;
  }
  .nav {
    position: absolute;
    top: 5vh;
    left: 5%;
    transform: translateX(0%);
  }
  .navbar-nav {
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bg {
    background-position: right;
  }
  .legal {
    width: 80% !important;
  }
  .contenedor_politica {
    width: 90%;
  }
  .mapa {
    width: 85% !important;
  }
  .contenedor_politica {
    width: 100% !important;
  }
  .texto_politica {
    width: 90% !important;
    margin: auto;
    font-size: 0.6em;
  }
  .texto_politica h6 {
    font-size: 1em !important;
  }
}
@media (min-width: 300px) and (max-width: 567.98px) {
  .mapaverguenza {
    top: 18% !important;
    font-size: 1.8em !important;
  }
  .cuerpo_instrucciones {
    top: 60%;
    font-size: 0.6em;
  }
  .instruccion_button {
    font-size: 0.7em;
    width: 80%;
  }
  .title {
    font-size: 3.6em;
  }
  #text {
    font-size: 1em;
  }
  .nav {
    position: absolute;
    top: 5vh;
    left: 5%;
    transform: translateX(0%);
  }
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bg {
    background-position: right;
  }
  .legal {
    width: 80% !important;
  }
  .mapa {
    width: 80% !important;
  }
  .contenedor_politica {
    width: 100% !important;
  }
  .texto_politica {
    width: 90% !important;
    margin: auto;
    font-size: 0.8em;
  }
  .texto_politica h6 {
    font-size: 1.1em !important;
  }
}
@media (min-width: 568px) and (max-width: 569.98px) {
  .cuerpo_instrucciones {
    top: 70%;
    font-size: 0.6em;
  }
  .instruccion_button {
    font-size: 0.7em;
    width: 50%;
  }
  .mapa {
    width: 40% !important;
  }
  .mapaverguenza {
    top: 5% !important;
    font-size: 1.4em !important;
  }
  .cuerpo_instrucciones {
    width: 90%;
  }
}
@media (min-width: 570px) and (max-width: 767.98px) {
  .cuerpo_instrucciones {
    top: 70%;
    font-size: 0.6em;
  }
  .instruccion_button {
    font-size: 0.7em;
    width: 80%;
  }
  .title {
    font-size: 3.6em;
  }
  #text {
    font-size: 1em;
  }
  .nav {
    position: absolute;
    top: 5vh;
    left: 5%;
    transform: translateX(0%);
  }
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bg {
    background-position: right;
  }
  .legal {
    width: 27% !important;
  }
  .mapa {
    width: 40% !important;
  }
  .mapaverguenza {
    top: 5% !important;
    font-size: 1.6em !important;
  }
  .cuerpo_instrucciones {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 799.98px) {
  .mapa {
    width: 80% !important;
  }
  .mapaverguenza {
    top: 12% !important;
    font-size: 2.4em !important;
  }
  .contenedorform {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: grey;
  }
  .formulario {
    position: relative;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .contenedordenuncia {
    width: 80%;
  }
  .nav {
    position: absolute;
    top: 5vh;
    left: 5%;
    transform: translateX(0%);
  }
  .navbar-nav {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .legal {
    width: 70% !important;
  }
}
@media (min-width: 800px) and (max-width: 823.98px) {
  .cuerpo_instrucciones {
    top: 50%;
    font-size: 0.6em;
  }
  .instruccion_button {
    font-size: 0.7em;
    width: 80%;
  }
  .contenedorform {
    position: relative;
    width: 100%;
    height: 225vh;
    background-color: grey;
  }
  .formulario {
    position: relative;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .legal {
    width: 28% !important;
  }
  .mapa {
    width: 35% !important;
  }
}
@media (min-width: 824px) and (max-width: 1199.98px) {
  .contenedorform {
    position: relative;
    width: 100%;
    height: 145vh;
    background-color: grey;
  }
  .formulario {
    position: relative;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .legal {
    width: 36% !important;
  }
  .mapa {
    width: 50% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .contenedorform {
    position: relative;
    width: 100%;
    height: 106vh;
    background-color: grey;
  }
  .formulario {
    position: relative;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .mapa {
    width: 60% !important;
  }
}

@media (min-width: 1399.98px) {
}
/*-----------legal----------------*/
.contenedor_legal,
.contenedor_mapa {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(images/fondoportada2.jpg);
  background-size: cover;
}
.legal {
  position: relative;
  width: 42%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 10px gray, 0 15px 50px;
}
.legal img {
  width: 100%;
  height: auto;
}
.boton {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 15px 50px;
  border-radius: 50%;
}

.boton i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}
.boton i:hover {
  font-size: 1.9em;
}
/*------------mapa-------------*/

.mapa {
  position: relative;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 10px gray, 0 15px 50px;
}
.mapa img {
  width: 100%;
  height: auto;
}
.mapaverguenza {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  white-space: nowrap;
}
.activated {
  animation: pulse 2s infinite;
}
.activated1 {
  animation: pulse 1.9s infinite;
}
.activated2 {
  animation: pulse 1.8s infinite;
}
.logroño {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 20.8%;
  left: 57.1%;
}
.pamplona {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 16%;
  left: 62.5%;
}
.donosti {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 11.3%;
  left: 60.6%;
}
.bilbao {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 11%;
  left: 54.5%;
}
.santander {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 10.8%;
  left: 49.8%;
}
.oviedo {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 10.8%;
  left: 38%;
}
.santiago {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 16%;
  left: 22.8%;
}
.lugo {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 14.8%;
  left: 29.6%;
}
.pontevedra {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 20%;
  left: 22%;
}
.ourense {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 22%;
  left: 27.6%;
}
.ponferrada {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 19%;
  left: 33.8%;
}
.leon {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 18%;
  left: 39.6%;
}
.burgos {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 22%;
  left: 50.6%;
}
.palencia {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 24.6%;
  left: 45.2%;
}
.soria {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 27%;
  left: 56.5%;
}
.zaragoza {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 27.5%;
  left: 66.5%;
}
.vitoria {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 16.2%;
  left: 56.1%;
}
.huesca {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 23%;
  left: 69%;
}
.lleida {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 28.5%;
  left: 75%;
}
.barcelona {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 31%;
  left: 83.8%;
}
.girona {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 25.2%;
  left: 87.5%;
}
.tarragona {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 33.6%;
  left: 78.2%;
}
.zamora {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 29.8%;
  left: 38%;
}
.valladolid {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 28.5%;
  left: 45%;
}
.salamanca {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 35.5%;
  left: 39%;
}
.avila {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 39%;
  left: 44.5%;
}
.segovia {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 35%;
  left: 48%;
}
.madrid {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 40%;
  left: 50.7%;
}
.guadalajara {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 38%;
  left: 53%;
}
.teruel {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 41%;
  left: 64.7%;
}
.castellon {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 43.4%;
  left: 72%;
}
.caceres {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 50%;
  left: 35%;
}
.toledo {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 47%;
  left: 48.4%;
}
.cuenca {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 44%;
  left: 59.4%;
}
.valencia {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 50%;
  left: 69.5%;
}
.badajoz {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 55.8%;
  left: 31.6%;
}
.ciudadreal {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 54.4%;
  left: 49%;
}
.albacete {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 54.4%;
  left: 61%;
}
.alicante {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 60%;
  left: 69%;
}
.huelva {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 71.8%;
  left: 31.6%;
}
.sevilla {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 69.8%;
  left: 37.6%;
}
.cordoba {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 65.3%;
  left: 44%;
}
.jaen {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 67%;
  left: 49.8%;
}
.granada {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 72.5%;
  left: 50.8%;
}
.almeria {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 75.4%;
  left: 57.4%;
}
.murcia {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 64.5%;
  left: 64.8%;
}
.cadiz {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 78.8%;
  left: 35.6%;
}
.malaga {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 76.5%;
  left: 46.2%;
}
.santa {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 80.8%;
  left: 15.6%;
}
.laspalmas {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 87.6%;
  left: 18.6%;
}
.mallorca {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(195, 9, 40, 1);
  top: 48.8%;
  left: 84.3%;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(195, 9, 40, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(195, 9, 40, 0);
  }
  100% {
    transform: scale(0.9);
  }
}
/*minuto 9:14*/
/*-------------------politica------------*/
.contenedor_politica {
  width: 70%;
  margin: auto;
}
.volver {
  text-align: center;
}
.volver a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.volver a:hover {
  color: black;
}
.texto_politica {
  text-align: justify;
}
